
:root{
    --clr-primary: #5ea51d;
    --clr-secondary: #06112a;
    --clr-secondary-2: #00235b;

    --clr-text-1: #808080;
    --clr-text-2: #0e132a;
    --clr-text-3: #999999;
    --clr-text-4: #ffffffb3;
    --clr-text-5: #000000cc;
    --clr-text-6: #00000099;

    --bg-1: #f0f0f0;
    --bg-red: #fd5c64;
    --bg-opa: #0000009c;
    --bg-gray: #f3f5f1;
}
img{
    max-width: 100%;
    display: block;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
.button{
    background-color: var(--clr-primary);
    color: white;
    border-radius: 5px;
    padding: 9px 12px;
    border: none;
}
.button[inverted]{
    background-color: white;
    color: var(--clr-text-1);
    border-radius: 5px;
    padding: 9px 12px;
    border: none;
    font-weight: bold;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: 50px;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
.heading{
    text-align: center;
    margin: 180px 0px 120px 0px;
}
.heading span,
.heading h2{
    font-weight: 700;
}
.bg-red{
    background-color: var(--bg-red);
}
.bg-trans{
    background-color: var(--bg-opa);
}
.bg-lig{
    background-color: var(--bg-1);
}
.bg-pri{
    background-color: var(--clr-primary);
}
.bg-sec{
    background-color: var(--clr-secondary);
}
.txt-pri{
    color: var(--clr-primary);
}
.txt-gray-1{
    color: var(--clr-text-1);
}
.txt-gray-2{
    color: var(--clr-text-3);
}
.txt-gray-3{
    color: var(--clr-text-4);
}
.txt-gray-4{
    color: var(--clr-text-4);
}
.txt-dark-1{
    color: var(--clr-text-5);
}
.txt-dark-2{
    color: var(--clr-text-6);
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.top-nav-inner i{
    border: 1px solid var(--clr-text-4);
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 15px;
}
.navbar-brand{
    font-size: 18px;
    color: white;
    font-weight: 700;
}
header{
    position: relative;
    height: 100vh;
}
.carousel img{
    height: 100vh;
}
.navbar-brand:hover{
    color: white;
}
.navbar{
    background-color: var(--bg-opa);
    position: absolute;
    z-index: 19;
    left: 0;
    right: 0;
    top: 0;
    
}
.navbar a{
    color: var(--clr-text-4);
    font-weight: 700;
    margin: 0 12px;
}
.navbar a:hover{
    font-weight: 700;
    color: var(--clr-text-4);
}
.carousel-text{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.438);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carousel-text h2{
    width: 20ch;
    margin: 22px 0px;
    color: white;
    font-size: 70px;
}
.carousel-text p{
    width: 55ch;
    color: #ffffffcc;
    margin-bottom: 38px;
    font-size: 16px;
}
.btns{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
}
.find{
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
}
.search input{
    outline: none;
    border: none;
}
.search input::placeholder{
    color: var(--clr-text-3);
}
.search i{
    color: var(--clr-text-3);
}
.search p{
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.search .box{
    border-right: 1px solid var(--clr-text-3);
    width: 228px;
    padding: 20px 12px;
}
.search select{
    border: none;
    outline: none;
    color: var(--clr-text-3);
}
.categories-inner .box{
    background-color: var(--bg-gray);
    text-align: center;
    padding: 16px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    width: 220px;
    transition: background-color .3s, color .3s;
    cursor: pointer;
}
.categories-inner .box i{
    font-size: 70px;
}
.categories-inner .box p{
    font-size: 28px;
}
.categories-inner .box:hover{
    background-color: var(--clr-primary);
    color: white;
}
.locations div{
    width: 290px;
}
.properties-inner .box{
    width: 270px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.438);
    overflow: hidden;
}
.box-img{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.box-img::before{
    content: '';
    inset: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.151);
    z-index: 2;
    transition: opacity .3s;
}
.box-img:hover.box-img::before{
    opacity: 0;
}
.box-img:hover.box-img img{
    transform: scale(1.1);
}
.property-inner .box-img{
    width: 100%;
    height: 250px;
}
.properties-inner .box-img img{
    height: 200px;
    width: 100%;
    transition: transform .5s;
}
.video-txt{
    background-color: rgba(0, 0, 0, 0.24);
}
.video{
    background-image: url('images/bg_4.jpg.webp');
    height: 550px;
    background-position: center;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.about{
    margin-top: 80px;
}
.place{
    margin-top: 80px;
    background-image: url('images/bg_4.jpg.webp');
    background-position: center;
}
.place-txt{
    background-color: #5fa51dd3;
    padding: 80px 0px;
}
.clients{
    margin-top: 80px;
    position: relative;
}
.clients .boxes{
    display: grid;
    grid-template-columns: repeat(7, 350px);
    gap: 12px;
    justify-content: start;
    overflow-x: auto;
    padding-block: 40px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.clients .boxes::-webkit-scrollbar{
    display: none;
}
.scroll-btns .btn-left,
.scroll-btns .btn-right{
    position: absolute;
    /* border: 1px solid black; */
    border: none;
    background-color: transparent;
    /* background-color: white; */
    /* padding: 8px 16px; */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    font-size: 24px;
}
.btn-left{
    right: 0px;
}
.btn-right{
    left: 0px;
}
.clients .box{
    padding: 40px 40px;
    position: relative;
    background-color: rgb(243, 242, 242);
    scroll-snap-align: start;
}
.clients .coma{
    position: absolute;
    background-color: var(--clr-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    clip-path: circle();
    border-radius: 50%;
    font-weight: 700;
    top: -20px;
}
.agent-icons i{
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 50%;
    padding: 4px 8px;
    transition: .4s;
    cursor: pointer;
}
.agents .boxes .col-md-3{
    margin-top: 12px;
}
.agent-icons i:hover{
    background-color: var(--clr-secondary-2);
}
.gallery img{
    height: 250px;
    width: 200px;
}
footer{
    background-color: var(--clr-secondary);
    margin-top: 140px;
    padding: 120px 0px 0px 0px;
}
footer a{
    color: var(--clr-text-4);
}
footer a:hover{
    color: var(--clr-primary);
}
@media(max-width:1200px){
    .find{
        bottom: -400px;
        width: 95%;
    }
    .find .box{
        width: 100%;
    }
}
@media(max-width:576px){
    .carousel-text h2{
        font-size: 28px;
    }
    .carousel-text p{
        width: 100%;
    }
    .btns{
        bottom: 80px;
    }
    .d-sm-none{
        display: none;
    }
        .btn-left {
            right: 15px;
        }
    
        .btn-right {
            left: 15px;
        }
}
@media(max-width:991px){
    .navbar{
        background-color: #081637;
    }
    .main-heading{
        margin-top:450px;
    }
}